cmake
fake-useragent
lxml
m3u8
m3u8-dl
p5py
pep517
mojimoji
mpegdash
mutagen
pathvalidate
pillow
pytest
pytest-xdist
python-dateutil
requests
scrapy-splash
Scrapy
selenium
slack_log_handler
slackweb
starlette
twython
urllib3
youtube_dl
aiofiles
boto3
yt-dlp
ffmpeg-python
PySocks
namedivider-python
pykakasi
js2py
psycopg
# pyopenssl==22.0.0
pyopenssl
python-redmine
